* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: linear-gradient(0deg, hsla(160, 24%, 85%, 1) 0%, hsla(231, 8%, 46%, 1) 86%, hsla(0, 0%, 0%, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 75px;
}

input {
  width: 600px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 18px;
}

.interactiv {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fetch-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #0276ff;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  cursor: pointer;
  padding: 10px 21px;
}

.fetch-btn:hover {
  background-color: #1c84ff;
}

#status {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.loader {
  position: relative;
  width: 600px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  padding: 3px;
  margin: 25px 0;
  border-radius: 8px;
  overflow: hidden;
}
.loader__counter {
  position: relative;
  z-index: 5;
}

.loader__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #57C785;
}
.loader__bg::after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: -180px;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transform: rotate(45deg);
  animation: reflect 2s ease-in-out infinite;
  -webkit-transform: rotate(45deg);
  -webkit-animation: reflect 2s ease-in-out infinite;
}

@keyframes reflect {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@-webkit-keyframes reflect {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
